.popup {
  display:flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 88%;
  min-width: 282px;
  max-width: 430px;
  background: #FFFFFF;
  border-radius: 10px;
}