.popup__button-save {
  width: 89%;
  margin: 18px auto 37px;
  padding-top: 14px;
  padding-bottom: 18px;
  background: #000000;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .popup__button-save {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 25px;
  }
}

.popup__button-save:hover {
  opacity: 0.8;
  cursor: pointer;
}
