.profile__info {
  margin: 22px auto 36px;
  display: grid;
  grid-column: auto;
  grid-row: auto;
}

@media screen and (min-width: 1024px) {
  .profile__info {
    gap: 16px 18px;
    min-width: 32%;
    max-width: 62%;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 0;
  }
}