.profile__avatar-form {
    display: flex;
    justify-content: center;
    margin: 0 auto 0;
    padding: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
}

@media screen and (min-width: 1024px) {
  .profile__avatar {
    margin: 0;
  }
}