.photo-grid__button-like {
  width: 22px;
  margin-top: 31px;
  margin-right: 22.4px;
  margin-bottom: 31px;
  background: none;
  background-image: url('../../../images/button-like.svg');
  border: none;
  outline: none;
  padding: 0;
}

.photo-grid__button-like:hover {
  cursor: pointer;
  opacity: 0.5;
}