.photo-grid__button-like {
  width: 22px;
  height: 19px;
  margin: 0;
  background: none;
  background-image: url('../../../images/button-like.svg');
  border: none;
  outline: none;
  padding: 0;
}

.photo-grid__button-like:hover {
  cursor: pointer;
  opacity: 0.5;
}